<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
    <!-- 引入属性文件 -->
    <context:property-placeholder
        location="classpath:config/jdbc.properties" />

    <import resource="spring/spring-datasource.xml" />
    <import resource="spring/spring-hibernate.xml" />
    <import resource="spring/spring-task.xml" />

    <!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 -->
    <context:component-scan base-package="com.**.dao,com.**.service" />

    <bean id="cacheUtil" class="com.fcc.web.sys.cache.CacheUtil"
        init-method="init" destroy-method="destroy">
        <property name="exportDataTotalSize"
            value="500000">
        </property>
        <property name="appName" value="baseWeb"></property>
        <property name="threadPoolSize" value="20"></property>
    </bean>

    <bean id="rbacPermissionTag"
        class="com.fcc.web.sys.tag.RbacPermissionTag">
    </bean>

    <bean id="lock" class="com.fcc.commons.web.locks.DbLock" />

</beans>